@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100;1,200&display=swap');

*{
    box-sizing: border-box;
}
.top-row{  
    color: #000000;
    margin-top: 50px;
    margin-bottom: 60px;
    padding-left: 55px;
}

.who-are-we{
    padding-left: 70px;
    padding-top: 12px;
}
.top-row h2{
    font-family: "PT" Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
   
}
.top-row h3{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;  
    text-transform: uppercase;
}
.top-row p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

img{
    width: 238px;
    height: 300px;
}
.second-row, .third-row{
    height: 400px;
    position: relative;
    margin-bottom: 30px;
}
.image{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.image.middle{
    position: relative;
    top: 99px;
}
.image p{
    margin-top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px; 
    color: #000000;
}
span{
    position: absolute;
    right: 0px;
    top: 46px;
    transform: rotate(90deg);
    font-family: "PT" Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;  
    text-transform: uppercase;
    color: #000000;
}
span:nth-child(1){
    background: chartreuse;
}

.footer{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

@media only screen and (max-width: 1200px)  {
    .image{
       
    }
    span{
        right: -20px;
    }
}
@media only screen and (max-width: 991px){
    img{
        width: 163px;
        height: auto;
    }
}
@media only screen and (max-width: 767px){
    img{
        width: 150px;
        height: auto;
    }
    .image{
        max-width: 180px;
    }
    span{
        right: -46px;
    }
    .who-are-we{
        padding-left: 19px;
    }
    .top-row{
        padding-left: 0;
    }
}
@media only screen and (max-width: 554px){
   .second-row, .third-row{
       height: auto;
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   .image{
       max-width: 300px;
   }
   .image.middle{
    top: 0;
   }
   img{
       width: 80%;
   }
   .who-are-we{
       padding-left: 19px;
   }
}